.blog-content_img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 170px;
  background: url("../../assets/img/ethan-lackner-eJmslTXPNRM-unsplash.jpg")
    center / cover no-repeat;
}

.blog-content_item {
  margin-top: 20px;
  margin-bottom: 25px;
}
